// font-size
$h1-fz: 64px;
$h2-fz: 48px;
$h3-fz: 36px;
$h4-fz: 24px;
$h5-fz: 20px;
$h6-fz: 16px;
$p-fz: 16px;
$span-fz: 14px;
$em-fz: 48px;
$series-h2-fz: 42px;
$series-h3-fz: 32px;
$series-h4-fz: 24px;
$series-h5-fz: 19px;
$series-h6-fz: 18px;

// font-weight
$black: 900;
$bold: 700;
$medium: 500;
$regular: 400;

// positioning
$pt-pb-80: 80px;
$gap: 24px;
$m4-p4: 4px;

// font-family
$chinese: "Noto Sans TC", sans-serif;
$english: "Roboto", sans-serif;