header{
  font-size: $h5-fz;
  font-weight: $regular;
  font-family: $chinese;
  background-color: #AA0601;
  nav{
    display: flex;
    align-items: center;
  }
  .headerBox{
    display: flex;
    justify-content: space-between;
    padding: calc(4 * #{$m4-p4}) calc(3 * #{$m4-p4});
  }
  .headerLogo{
    width: 80px;
  }
  .navItem{
    display: flex;
    gap: 64px;
    a{
      color: #FFFFFF;
      border-bottom: 1px solid transparent;
      &:hover{
        border-bottom: 1px solid #fff;
      }
    }
  }
}