<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%- title %></title>
    <link rel="stylesheet" href="./assets/scss/all.css" />
  </head>

  <body>
    <header class="header">
      <!-- header -->
      <div class="headerBox">
        <!-- headerBox -->
        <img
          class="headerLogo"
          src="./assets/images/logo-white.png"
          alt="logo"
        />
        <nav>
          <!-- nav -->
          <ul class="navList">
            <!-- navList -->
            <li class="navItem">
              <p><a href="#">系列鏡框</a></p>
              <p><a href="#">門市據點</a></p>
              <p><a href="#">部落格</a></p>
              <p><a href="#">常見問題</a></p>
            </li>
          </ul>
          <!-- navList end -->
        </nav>
        <!-- nav end -->
      </div>
      <!-- headerBox end -->
    </header>
    <!-- header end -->

    <%- contents %>

    <footer class="footer">footer</footer>
    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>
</html>
