.buyButton {
  padding: calc(1.5 * #{$m4-p4}) calc(3 * #{$m4-p4});
  color: #fff;
  background-color: #AA0601;
  border: none;
  &:hover{
    cursor: pointer;
    background-color: #850400;
  }
}

.submitButton {
  padding: calc(4 * #{$m4-p4}) calc(44 * #{$m4-p4});
  font-size: $p-fz;
  font-weight: $bold;
  font-family: $chinese;
  color: #fff;
  background-color: #AA0601;
  border: none;
  &:hover{
    cursor: pointer;
    opacity: .8;
  }
  @include mobile{
    width: 100%;
    padding: calc(4 * #{$m4-p4}) 0;
  }
}

.previousButton{
  padding: calc(2.75 * #{$m4-p4}) calc(3 * #{$m4-p4});
  font-size: $series-h5-fz;
  font-family: $english;
  color: #555555;
  background-color: #FFFFFF;
  border: 1px solid #555555;
  @include iPhone{
    font-size: $p-fz;
  }
  &:hover{
    cursor: pointer;
    background-color: #F2F2F2;
  }
}

.nextButton{
  padding: calc(2.75 * #{$m4-p4}) calc(3 * #{$m4-p4});
  font-size: $series-h5-fz;
  font-family: $english;
  color: #555555;
  background-color: #FFFFFF;
  border: 1px solid #555555;
  border-left: 1px solid transparent;
  @include iPhone{
    font-size: $p-fz;
  }
  &:hover{
    cursor: pointer;
    background-color: #F2F2F2;
  }
}

.storeDetails{
  width: 100%;
  padding: calc(4 * #{$m4-p4}) 0;
  font-size: $series-h5-fz;
  font-family: $chinese;
  line-height: 1.4;
  color: #fff;
  background-color: #000;
  border: none;
  &:hover{
    cursor: pointer;
    opacity: .8;
  }
}