.specialPlanSearchBar {
  background-color: #650300;
  .searchBox {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .newsList {
      width: 100%;
      display: flex;
      justify-content: space-between;
      .newsItem {
        padding: calc(3.25 * #{$m4-p4}) 0;
        font-size: $h5-fz;
        font-weight: $bold;
        font-family: $chinese;
        @include iPhone{
          font-size: $p-fz;
        }
      }
      a {
        color: #fff;
        &:hover{
          opacity: .8;
        }
      }
    }
  }
}

.specialPlanningBox{
  margin: 0 auto;
  .pageName{
    padding-top: calc(6 * #{$m4-p4});
    font-family: $chinese;
    @include mobile{
      padding-top: calc(2 * #{$m4-p4});
    }
  }
  span{
    &:hover{
      cursor: pointer;
      border-bottom: 1px solid #555;
    }
  }
  mark{
    color: #AA0601;
    background-color: #fff;
    &:hover{
      cursor: pointer;
      border-bottom: 1px solid #555;
    }
  }
  .hashTags{
    padding-top: calc(2 * #{$m4-p4});
    display: flex;
    gap: calc(#{$gap} / 1.6);
    font-size: $h4-fz;
    font-weight: $bold;
    color: #AA0601;
    font-family: $english;
    @include iPhone{
      font-size: $p-fz;
    }
  }
  .planningBox{
    display: flex;
    margin-bottom: $pt-pb-80;
    @include iPhone{
      margin-bottom: calc(10 * #{$m4-p4});
    }
  }
  .content{
    width: 66.1%;
    @include mobile{
      width: 74%;
    }
    @include iPhone{
      width: 100%;
    }
    h2{
      padding-top: calc(2 * #{$m4-p4});
      font-size: $h2-fz;
      font-family: $chinese;
      @include iPhone{
        font-size: $h4-fz;
      }
    }
    h4{
      padding-bottom: calc(4 * #{$m4-p4});
      font-size: $h4-fz;
      font-weight: $bold;
      font-family: $english;
      @include mobile{
        padding-bottom: calc(6 * #{$m4-p4});
      }
      @include iPhone{
        font-size: $p-fz;
      }
    }
    p{
      padding-bottom: calc(10 * #{$m4-p4});
      font-family: $chinese;
      @include mobile{
        padding-bottom: calc(6 * #{$m4-p4});
      }
      @include iPhone{
        padding-bottom: calc(4 * #{$m4-p4});
      }
      img{
        padding-bottom: calc(2 * #{$m4-p4});
        @include mobile{
          padding-bottom: calc(4 * #{$m4-p4});
        }
        @include iPhone{
          padding-bottom: calc(2 * #{$m4-p4});
        }
      }
      span{
        color: #555555;
        &:hover{
          cursor: auto;
          border-bottom: none;
        }
      }
    }
    .shareList{
      width: 122px;
      padding-bottom: calc(3.75 * #{$m4-p4});
      display: flex;
      justify-content: space-between;
      font-weight: $bold;
      font-family: $english;
      @include mobile{
        padding-top: calc(4 * #{$m4-p4});
      }
      @include iPhone{
        display: none;
      }
      span{
        &:hover{
          cursor: auto;
          border-bottom: none;
        }
      }
      img{
        width: 24px;
        height: 24px;
        &:hover{
          cursor: pointer;
          transform: scale(1.1);
        }
      }
    }
    .articlePage{
      padding-top: calc(6 * #{$m4-p4});
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-top: 1px solid #707070;
      @include iPhone{
        display: none;
      }
      img{
        width: 24px;
        height: 24px;
      }
      p{
        padding: 0;
      }
      .prevArticle{
        display: flex;
        gap: calc(#{$gap} / 2);
        &:hover{
          cursor: pointer;
        }
      }
      .nextArticle{
        display: flex;
        flex-direction: row-reverse;
        gap: calc(#{$gap} / 2);
        &:hover{
          cursor: pointer;
        }
      }
    }
  }
  .tags{
    width: 33.9%;
    padding-left: calc(6 * #{$m4-p4});
    font-weight: $bold;
    color: #AA0601;
    @include mobile{
      width: 20%;
    }
    @include iPhone{
      display: none;
    }
    h3{
      display: flex;
      align-items: center;
      gap: calc(#{$gap} / 2);
      font-size: $series-h3-fz;
      @include mobile{
        font-size: $p-fz;
      }
      img{
        width: 48px;
        height: 48px;
        @include mobile{
          width: 24px;
          height: 24px;
        }
      }
    }
    .tagsList{
      font-size: $h4-fz;
      font-weight: $bold;
      font-family: $english;
      @include mobile{
        font-size: $p-fz;
      }
      .tagsItem{
        display: flex;
        gap: $gap;
        padding-bottom: $m4-p4;
        @include mobile{
          justify-content: space-between;
          flex-wrap: wrap;
          gap: 0;
        }
      }
      h4{
        &:hover{
          cursor: pointer;
          text-decoration: underline;
          text-decoration-color: #AA0601;
        }
      }
    }
  }
}