.searchBar{
  background-color: #650300;
  @include iPhone{
    display: none;
  }
  .searchBox{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .searchIcon{
      width: 40px;
      height: 40px;
      &:hover{
        cursor: pointer;
      }
    }
    .newsList{
      display: flex;
      gap: calc(2 * #{$gap});
      .newsItem{
        padding: calc(3.25 * #{$m4-p4}) 0;
        font-size: $h5-fz;
        font-weight: $bold;
        font-family: $chinese;
      }
      a{
        color: #fff;
        &:hover{
          opacity: .8;
        }
      }
    }
  }
}


.blogBox {
  margin: 0 auto;
  padding: calc(24 * #{$m4-p4}) calc(3 * #{$m4-p4}) calc(20 * #{$m4-p4});
  @include mobile{
    padding: calc(20 * #{$m4-p4}) calc(3 * #{$m4-p4}) calc(20 * #{$m4-p4});
  }
  h2 {
    padding-left: calc(4 * #{$m4-p4});
    font-size: $h2-fz;
    font-weight: $bold;
    font-family: $chinese;
    border-left: 8px solid #9F1213;
  }
  .blogList{
    padding: calc(8 * #{$m4-p4}) 0 calc(16 * #{$m4-p4});
    @include mobile{
      padding: calc(10 * #{$m4-p4}) 0 calc(5 * #{$m4-p4});
    }
    .blogItem{
      padding-bottom: calc(15 * #{$m4-p4});
      display: flex;
      justify-content: space-between;
      @include iPhone{
        display: block;
      }
    }
    .coverImage{
      width: 49.1%;
      object-fit: cover;
      @include iPhone{
        width: 100%;
      }
    }
    .blogContent{
      position: relative;
      width: 49.1%;
      @include iPhone{
        width: 100%;
        padding-top: calc(2 * #{$m4-p4});
      }
      h3{
        font-size: $series-h3-fz;
        font-family: $chinese;
        color: #650300;
        @include mobile{
          font-size: $h4-fz;
        }
      }
      .englishTitle{
        padding-bottom: calc(4 * #{$m4-p4});
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: $h5-fz;
        font-weight: $medium;
        font-family: $english;
        @include mobile{
          font-size: $p-fz;
        }
      }
      .postDate{
        font-size: $p-fz;
        font-weight: $medium;
        font-family: $english;
        color: rgba(0, 0, 0, .7);
        @include iPhone{
          color: #000000;
        }
      }
      .abstract{
        font-size: $h5-fz;
        font-family: $chinese;
        color: #555555;
        @include mobile{
          display: none;
        }
      }
      .abstractSm{
        display: none;
        @include mobile{
          display: block;
        }
        @include iPhone{
          display: none;
        }
      }
      .more{
        position: absolute;
        right: 0;
        bottom: 0;
        font-size: $h3-fz;
        font-weight: $black;
        font-family: $english;
        color: #650300;
        @include pad{
          bottom: -10px;
        }
        @include mobile{
          display: none;
        }
        &:hover{
          color: #ff0000;
        }
      }
      .moreSm{
        @include mobile{
          display: inline;
        }
      }
    }
  }
  .pageController {
    display: flex;
    justify-content: center;
    .pageList {
      display: flex;
      .pageItem {
        padding: calc(3 * #{$m4-p4}) calc(4 * #{$m4-p4});
        font-size: $series-h6-fz;
        font-family: $english;
        color: #555555;
        border: 1px solid #555555;
        &:hover {
          cursor: pointer;
          color: #fff;
          background-color: #000000;
        }
      }
    }
  }
}