.banner{
  height: 787px;
  font-family: $chinese;
  background-image: url(../images/home-header.png);
  background-size: cover;
  @include mobile{
    background-image: url(../images/home-header-sm.png);
    transition: background-image .5s;
  }
  .bannerText{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    color: #650300;
    h1{
      font-size: $h1-fz;
      font-weight: $bold;
      padding-bottom: $m4-p4;
    }
    h3{
      font-size: $h3-fz;
      font-weight: $regular;
      font-family: $chinese;
    }
    h5{
      font-size: $h5-fz;
      font-weight: $medium;
      font-family: $chinese;
    }
  }
}

.features{
  display: flex;
  justify-content: center;
  padding: $pt-pb-80 0;
  background-color: #FBF2F2;
  h2{
    padding-bottom: calc(6 * #{$m4-p4});
    font-size: $h2-fz;
    font-weight: $bold;
    color: #650300;
    text-align: center;
    font-family: $chinese;
  }
  .featureList{
    display: flex;
    gap: $gap;
    @include mobile {
      flex-wrap: wrap;
    }
    .featureItem{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      @include mobile{
        width: 48%;
      }
      img{
        width: 100px;
        height: 100px;
      }
      h4{
        padding-top: calc(4 * #{$m4-p4});
        padding-bottom: calc(2 * #{$m4-p4});
        font-size: $h4-fz;
        font-weight: $bold;
        color: #650300;
        font-family: $chinese;
      }
      p{
        font-size: $p-fz;
        font-weight: $regular;
        font-family: $chinese;
        text-align: justify;
      }
    }
  }
}

.classicFrame{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $pt-pb-80 0;
  text-align: center;
  h2{
    padding-bottom: calc(12 * #{$m4-p4});
    font-size: $h2-fz;
    font-weight: $bold;
    font-family: $chinese;
    color: #650300;
  }
  .frameIntroList{
    display: flex;
    justify-content: space-between;
    @include pad{
      gap: $gap;
      flex-wrap: wrap;
      justify-content: center;
    }
    .frameIntroItem{
      width: 32.1%;
      font-size: $em-fz;
      font-weight: $black;
      font-family: $english;
      font-style: italic;
      color: #AA0601;
      @include pad{
        width: 34%;
      }
      @include mobile{
        width: 49%;
      }
      img{
        padding-bottom: calc(2 * #{$m4-p4});
      }
    }
  }
}

.coBrandFrame{
  padding: $pt-pb-80 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-image: url(../images/home-section4-3.jpg);
  background-size: cover;
  background-position: center center;
  h2{
    padding-bottom: calc(12 * #{$m4-p4});
    font-size: $h2-fz;
    font-weight: $bold;
    font-family: $chinese;
    color: #FFFFFF;
  }
  .coBrandList{
    display: flex;
    @include mobile{
      flex-wrap: wrap;
      gap: $gap;
    }
    .coBrandItem{
      font-size: $em-fz;
      font-weight: $black;
      font-family: $english;
      font-style: italic;
      color: #AA0601;
      @include mobile{
        width: 100%;
      }
      em{
        display: block;
        padding: calc(2 * #{$m4-p4}) 0;
        background-color: #FFFFFF;
      }
    }
  }
}

.recommended{
  padding: $pt-pb-80 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  h2{
    padding-bottom: calc(12 * #{$m4-p4});
    font-size: $h2-fz;
    font-weight: $bold;
    font-family: $chinese;
    text-align: center;
    color: #650300;
  }
  .reviewList{
    display: flex;
    @include pad{
      flex-wrap: wrap;
      justify-content: center;
    }
    gap: $gap;
    .reviewItem{
      @include pad{
        width: 33%;
      }
      @include mobile{
        width: 46%;
      }
      border-radius: 4px;
      .cardContent{
        padding: calc(4 * #{$m4-p4});
        font-family: $chinese;
        box-shadow: 0 2px 6px #00000029 ;
        border-right: 1px solid #DEE2E6;
        border-left: 1px solid #DEE2E6;
        border-bottom: 1px solid #DEE2E6;
      }
      h6{
        padding-bottom: calc(2 * #{$m4-p4});
        font-weight: $medium;
      }
      p{
        padding-bottom: calc(18 * #{$m4-p4});
      }
      span{
        font-size: $span-fz;
        color: #707070;
      }
    }
  }
}