.borderShow{
  border-right: 1px solid #DCDCDC;
  border-left: 1px solid #DCDCDC;
  border-bottom: 8px solid #AA0601;
}
.borderTransparent{
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
  border-bottom: 8px solid transparent;
}

.over{
  overflow: hidden;
}

.imgHide{
  display: none;
}

.listHide{
  display: none;
}
.listShow{
  display: flex;
}

.series{
  .seriesList{
    max-width: 1320px;
    padding: 0 calc(3 * #{$m4-p4});
    margin: 0 auto;
    @include mobile {
      padding: 0;
    }
  }
  .seriesItem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: $series-h3-fz;
    font-weight: $medium;
    font-family: $english;
    @include mobile {
      font-size: $h4-fz;
    }
    @include iPhone{
      font-size: $p-fz;
    }
    h3{
      width: 33.333%;
      text-align: center;
      &:hover {
        border-right: 1px solid #DCDCDC;
        border-left: 1px solid #DCDCDC;
        border-bottom: 8px solid #AA0601;
      }
    }
    a{
      padding: calc(6 * #{$m4-p4}) 0;
      color: #000000;
      @include mobile {
        padding: calc(4 * #{$m4-p4}) 0;
      }
    }
  }
}

.brandImage{
  display: flex;
  img{
    max-width: 50%;
  }
}

.productBox{
  padding: $pt-pb-80 0;
  margin: 0 auto;
  @include iPhone{
    padding: calc(10 * #{$m4-p4}) calc(3 * #{$m4-p4}) calc(16 * #{$m4-p4});
  }
  h2{
    font-size: $series-h2-fz;
    font-weight: $medium;
    font-family: $english;
    text-align: center;
    @include iPhone{
      font-size: $h4-fz;
    }
  }
  h3{
    padding-bottom: calc(8 * #{$m4-p4});
    font-size: $series-h3-fz;
    font-weight: $regular;
    font-family: $chinese;
    text-align: center;
    @include iPhone{
      padding-bottom: calc(6 * #{$m4-p4});
      font-size: $h4-fz;
    }
  }
  .opticalProductList{
    gap: $gap;
    display: flex;
    flex-wrap: wrap;
    @include pad{
      justify-content: center;
    }
    .opticalProductItem{
      max-width: 23.6%;
      padding-bottom: calc(14 * #{$m4-p4});
      @include mobile{
        max-width: 46%;
        padding-bottom: 16px;
      }
      @include iPhone{
        max-width: 100%;
        padding: 0;
      }
      p{
        display: flex;
        justify-content: space-between;
      }
      .productName{
        font-size: $series-span-fz;
        font-weight: $regular;
        font-family: $english;
      }
      .productPrice{
        font-size: $series-span-fz;
        font-weight: $medium;
        font-family: $english;
        color: #AA0601;
      }
      .colors{
        &:hover::before {
          cursor: pointer;
          opacity: .8;
        }
        &::before{
          content: '';
          display: inline-block;
          width: 24px;
          height: 24px;
          background-color: #5F3E2D;
          border-radius: 4px;
        }
        &:hover::after{
          cursor: pointer;
          opacity: .8;
        }
        &::after{
          content: '';
          position: relative;
          left: 8px;
          display: inline-block;
          width: 24px;
          height: 24px;
          background-color: #AA0601;
          border-radius: 4px;
        }
      }
    }
  }
  .pageController{
    display: flex;
    justify-content: center;
    @include mobile{
      padding-top: 64px;
    }
    .pageList{
      display: flex;
      .pageItem{
        padding: calc(3 * #{$m4-p4}) calc(4 * #{$m4-p4});
        font-size: $series-h6-fz;
        font-family: $english;
        color: #555555;
        border-top: 1px solid #555555;
        border-right: 1px solid #555555;
        border-bottom: 1px solid #555555;
        @include iPhone{
          font-size: $p-fz;
          padding: calc(3 * #{$m4-p4});
        }
        &:hover{
          cursor: pointer;
          color: #fff;
          background-color: #000000;
        }
      }
    }
}
  .sunglassesProductList {
    gap: $gap;
    display: flex;
    flex-wrap: wrap;
    @include pad{
      justify-content: center;
    }
    .sunglassesProductItem {
      width: 32.099%;
      padding-bottom: calc(14 * #{$m4-p4});
      @include mobile{
        width: 46%;
        padding-bottom: calc(4 * #{$m4-p4});
      }
      @include iPhone{
        width: 100%;
      }
      p {
        display: flex;
        justify-content: space-between;
      }
      .productName {
        font-size: $series-span-fz;
        font-weight: $regular;
        font-family: $english;
      }
      .productPrice {
        font-size: $series-span-fz;
        font-weight: $medium;
        font-family: $english;
        color: #AA0601;
      }
      .colors {
        &:hover::before {
          cursor: pointer;
          opacity: .8;
        }
        &::before {
          content: '';
          display: inline-block;
          width: 24px;
          height: 24px;
          background-color: #5F3E2D;
          border-radius: 4px;
        }
        &:hover::after {
          cursor: pointer;
          opacity: .8;
        }
        &::after {
          content: '';
          position: relative;
          left: 8px;
          display: inline-block;
          width: 24px;
          height: 24px;
          background-color: #AA0601;
          border-radius: 4px;
        }
      }
    }
  }
}

.opticalImageHeader{
  @include mobile {
    display: none;
  }
}
.opticalImageHeaderSm{
  display: none;
  @include mobile{
    display: block;
  }
}

.sunglassesImageHeader{
  @include mobile{
    display: none;
  }
}
.sunglassesImageHeaderSm{
  display: none;
  @include mobile{
    display: block;
  }
}