.storeBox{
  margin: 0 auto;
  padding: calc(24 * #{$m4-p4}) calc(3 * #{$m4-p4}) calc(8 * #{$m4-p4});
  h2{
    padding-left: calc(4 * #{$m4-p4});
    font-size: $h2-fz;
    font-weight: $bold;
    font-family: $chinese;
    border-left: 8px solid #9F1213;
    @include iPhone{
      font-size: $h4-fz;
    }
  }
  .storeList{
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-6 * #{$m4-p4});
    .storeItem{
      width: 33.3%;
      padding: 0 0 calc(6 * #{$m4-p4}) calc(6 * #{$m4-p4});
      @include pad{
        width: 48%
      };
      @include iPhone{
        width: 100%;
      }
    }
    .storeName{
      padding: calc(2 * #{$m4-p4}) 0 calc(2 * #{$m4-p4}) calc(6 * #{$m4-p4});
      font-size: $h4-fz;
      font-family: $chinese;
      border: 1px solid #00000020;
    }
    .storeH5{
      display: flex;
      font-size: $h5-fz;
      align-items: center;
      color: #212529;
      a{
        color: #212529;
        &:hover{
          text-decoration: underline;
        }
      }
    }
    .storeLocationH5{
      display: flex;
      font-size: $h5-fz;
      color: #212529;
    }
    .storePhone,
    .storeClock,
    .storeLocation{
      width: 24px;
      height: 24px;
      margin-right: 8px;
    }
  }
  .storeInfoList{
    padding: calc(3 * #{$m4-p4}) calc(6 * #{$m4-p4});
    border: 1px solid #00000020;
    .storeInfoItem{
      padding: $m4-p4 0;
    }
  }
  .singleList{
    justify-content: space-between;
    margin: 0 0 calc(12 * #{$m4-p4}) 0;
    gap: calc(6 * #{$m4-p4});
    @include iPhone{
      display: block;
      margin-bottom: calc(8 * #{$m4-p4});
    }
    .singleItem{
      width: 42.6%;
      padding: 0;
      @include pad{
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
      @include iPhone{
        display: block;
      }
      .singleStore{
        @include pad{
          width: 48%;
        }
        @include iPhone{
          width: 100%;
        }
      }
      .storeImg{
        @include pad{
          width: 48%;
          object-fit: cover;
        }
        @include iPhone{
          width: 100%;
        }
      }
    }
    .googleMap{
      width: 55.5%;
      object-fit: cover;
      @include pad{
        width: 100%;
        padding-top: calc(6 * #{$m4-p4});
      }
    }
  }
}

// 運用權重強行加上 display: none;
main{
  .container{
    .listHide{
      display: none;
    }
  }
}